body{
    padding: 1%;
    margin: 1%;
    background-color: white;
}

#corpo{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

label{
    color: blue;
    font-size: 20px;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}

hr{
    border: none;
    background-color: black;
    height: 1px;
}

button{
    color: white;
    background-color: red;
    font-size: 20px;
    margin: auto;
}

div{
    animation: suave 1.0s;
}

@keyframes suave {
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}